@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-toggle {
    box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.1), -1px 1px 4px 1px rgba(0, 0, 0, 0.06);
}
  
.left-4 {
    left: 4%;
}

.left-96 {
    left: 96%
}

.top-a-bit {
    top: 0.15rem!important
}